@import "../theme";

.profile-component {
  @include debug(blue);
  padding: $padding;

  .profile-box {
    @include debug(green);
    
    img.profile-img {
      min-width: 200px;
      min-height: 200px;
  
      background-color: black;
    }

    .stage-name {
    }

    .bio {
    }
  
  }

  .profile-content {

    display: flex;
    flex-direction: row;

    .profile-nav {
      padding: $padding 0;
      flex-wrap: nowrap;
    }

    .profile-body {
      padding: $padding 0;
      margin-left: 10px;
    }

  }

}