* {
  padding: 0;
  margin: 0; }

html, body {
  height: 100%; }

ul {
  list-style: none; }

a {
  color: inherit; }

.app-nav-component {
  padding: 2%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid grey; }
  .app-nav-component .logo-box {
    flex: 1;
    display: flex;
    justify-content: center; }
    .app-nav-component .logo-box .logo {
      min-width: 50px;
      min-height: 50px;
      color: black; }
  .app-nav-component .nav-box {
    flex: 3;
    display: flex;
    justify-content: space-around;
    border-left: 1px solid black; }
    .app-nav-component .nav-box .nav-opt {
      min-width: 50px;
      min-height: 50px;
      color: black; }
* {
  padding: 0;
  margin: 0; }

html, body {
  height: 100%; }

ul {
  list-style: none; }

a {
  color: inherit; }

.footer {
  width: 100%;
  height: 10%;
  border-top: 1px solid grey;
  background-color: #EEE; }
  .footer div {
    margin: 1%; }
* {
  padding: 0;
  margin: 0; }

html, body {
  height: 100%; }

ul {
  list-style: none; }

a {
  color: inherit; }

.application-container {
  height: 100%; }
  .application-container .content {
    min-height: 80%; }
  .application-container .login-content {
    min-height: 100%;
    position: relative; }
  .application-container .login-box {
    position: absolute;
    border: 1px solid black;
    max-width: 40%;
    left: 30%;
    top: 30%;
    padding: 15px; }
    .application-container .login-box label {
      display: block;
      max-width: 100%;
      min-width: 100%; }
    .application-container .login-box input {
      display: block;
      margin: 5px 0;
      max-width: 100%;
      min-width: 100%; }
    .application-container .login-box button {
      display: block;
      margin: 5px 0; }
