// Application Styles
@import "./theme";

.application-container {
  height: 100%;
  
  .app-nav-component {
  }

  .content {
    min-height: 80%;
  }

  Footer {
  }

  .login-content {
    min-height: 100%;
    position: relative;
  }

  .login-box {
    position: absolute;
    border: 1px solid black;
    max-width: 40%;
    left: 30%;
    top: 30%;
    padding: 15px;

    label {
      display: block;
      max-width: 100%;
      min-width: 100%;
    }

    input {
      display: block;      
      margin: 5px 0;
      max-width: 100%;      
      min-width: 100%;      
    }

    button {
      display: block;
      margin: 5px 0;
    }
  }

}
